@import '/src/styles/colors';

$active-border: 2px solid $primary;

.resources {
  &__list-el {
    background-color: $el-grey;
    padding: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    position: relative;
    cursor: grab;
    display: flex;
    justify-content: space-between;

    &-disable {
      cursor: not-allowed;
      opacity: .5;
    }

    &-tag {
      padding: 4px;
      margin-bottom: 6px;
      margin-right: 6px;
      display: inline-block;
      font-weight: 400;
      font-size: 12px;
    }

    &__icon {
      color: $primary;
      margin-right: 3px;
    }
  }
}

.timesheet {
  &__container {
    background-color: $bg-grey;
    border: 1px solid $border-grey;
    border-radius: 2px;
    position: relative;
  }

  &__crew-line {
    border-bottom: 1px solid $border-grey;
  }

  &__crew-wrap {
    padding: 10px;
    border-right: 1px solid $border-grey;
    &-active {
      border: $active-border;
    }
  }

  &__crew-name {
    font-size: 18px;
  }

  &__crew {
    margin-top: 15px;
  }

  &__timeline {
    color: #969696;
  }

  &__crew-tag {
    margin: 3px 6px 3px 0;
  }
}

.resources-list {
  &__active {
    border-bottom: $active-border;
  }
}